/*Radio*/
.radio-group {
  font-family: "Noto Sans KR", "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes checkAnimationRad {
  from {
    background-color: #ffffff;
  }
  to {
    background-image: url("/src/static/radion_on.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
}

.radio-form {
  display: flex;
  align-items: center;
}

.radio-form input[type="radio"] {
  background-image: url("/src/static/radio_off.svg");
  appearance: none;
  outline: none;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.radio-form input[type="radio"]:checked {
  animation-name: checkAnimationRad;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  border: none;
}
