.maroma-checkbox-group {
  display: flex;
  align-items: center;
  font-family: "Noto Sans KR", "Nunito Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;
}

.maroma-checkbox {
  width: 24px;
  height: 24px;
  appearance: none;
}

.maroma-checkbox--roundedSquare {
  width: 18px;
  height: 18px;
}

.maroma-checkbox--circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.maroma-checkbox-label {
  display: block;
  width: 52px;
  height: 21px;
  color: #8c9094;
  font-size: 14px;
}
