/*Wrapping Element*/
.maroma-textInput-group {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans CJK KR", "Nunito Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

@keyframes inputFocus-focus {
  from {
    border: 1px solid #dee2e6;
  }
  to {
    border: 0.5px solid #3584df;
    box-shadow: 1px 1px 0px 3px #bad1f4, -1px -1px 0px 3px #bad1f4,
      1px -1px 0px 3px #bad1f4, -1px 1px 0px 3px #bad1f4;
  }
}

@keyframes inputFocus-not {
  from {
    border: 0.3px solid #3584df;
    box-shadow: 1px 1px 0px 3px #bad1f4, -1px -1px 0px 3px #bad1f4,
      1px -1px 0px 3px #bad1f4, -1px 1px 0px 3px #bad1f4;
  }
  to {
    border: 1px solid #dee2e6;
  }
}

@keyframes inputFocusError-focus {
  from {
    border: 1px solid #d93925;
  }
  to {
    border: 0.3px solid #d93a2559;
    box-shadow: 1px 1px 0px 3px #d93a2559, -1px -1px 0px 3px #d93a2559,
      1px -1px 0px 3px #d93a2559, -1px 1px 0px 3px #d93a2559;
  }
}

@keyframes inputFocusError-not {
  from {
    border: 0.3px solid #d93a2559;
    box-shadow: 1px 1px 0px 3px #d93a2559, -1px -1px 0px 3px #d93a2559,
      1px -1px 0px 3px #d93a2559, -1px 1px 0px 3px #d93a2559;
  }
  to {
    border: 1px solid #d93925;
  }
}

/*Lable Message*/
.maroma-textInput-label--mobile {
  padding-bottom: 8px;
  font-weight: 700;
  color: #232527;
  line-height: 21px;
}
.maroma-textInput-label--small {
  padding-bottom: 8px;
  font-weight: 700;
  color: #6e7175;
  line-height: 21px;
}
.maroma-textInput-label--medium {
  padding-bottom: 8px;
  font-weight: 700;
  color: #6e7175;
  line-height: 21px;
}
.maroma-textInput-label--large {
  padding-bottom: 8px;
  font-weight: 700;
  color: #6e7175;
  line-height: 21px;
}

/*Hlep Message*/
.maroma-textInput-help--default {
  margin-top: 2px;
  margin-left: 8px;
  color: #8c9094;
  font-size: 12px;
}
.maroma-textInput-input--default:focus {
  animation-name: inputFocus-focus;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  border: 1px solid #3584df;
  outline: none;
  box-shadow: 3px 3px 0px 0px #bad1f4, -3px -3px 0px 0px #bad1f4,
    3px -3px 0px 0px #bad1f4, -3px 3px 0px 0px #bad1f4;
}

.maroma-textInput-input--default:not(:focus) {
  animation-name: inputFocus-not;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  outline: none;
}

.maroma-textInput-help--focus {
  display: block;
  margin-top: 2px;
  margin-left: 8px;
  color: #8c9094;
  font-size: 12px;
}
.maroma-textInput-help--focus:after {
  display: none;
}
.maroma-textInput-help--disabled {
  margin-top: 2px;
  margin-left: 8px;
  color: #8c9094;
  font-size: 12px;
}
.maroma-textInput-help--error {
  content: "error";
  margin-top: 2px;
  margin-left: 8px;
  color: #d93925;
  font-size: 12px;
}

/*Input Status*/
.maroma-textInput-input {
  padding-left: 12px;
  border-radius: 8px;
  background-color: #ffffff;
  color: #232527;
  border: 1px solid #dee2e6;
}

.maroma-textInput-input::placeholder {
  color: #b4b8bc;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.maroma-textInput-input--mobile {
  width: 327px;
  height: 56px;
}
.maroma-textInput-input--small {
  width: 242px;
  height: 32px;
}
.maroma-textInput-input--medium {
  width: 378px;
  height: 40px;
}
.maroma-textInput-input--large {
  width: 480px;
  height: 40px;
}

/*Input*/

.maroma-textInput-input--error:focus {
  outline: none;
  animation-name: inputFocusError-focus;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.maroma-textInput-input--error:not(:focus) {
  outline: none;
  animation-name: inputFocusError-not;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.maroma-textInput-input--focus {
  border: 1px solid #3584df;
  box-shadow: 3px 3px 0px 0px #bad1f4, -3px -3px 0px 0px #bad1f4,
    3px -3px 0px 0px #bad1f4, -3px 3px 0px 0px #bad1f4;
}
.maroma-textInput-input--focus:focus {
  outline: none;
}
.maroma-textInput-input--disabled {
  color: #8c9094;
  border: 1px solid #dee2e6;
  background-color: #edf0f3;
  cursor: not-allowed;
  outline: none;
  caret-color: transparent;
}
.maroma-textInput-input--error {
  border: 1px solid #d93925;
}
.maroma-textInput-input--error::placeholder {
  color: #232527;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.maroma-textInput-input--valid {
  border: 1px solid #20ba45;
}

.maroma-textInput-help--valid {
  content: "error";
  margin-top: 2px;
  margin-left: 8px;
  color: #20ba45;
  font-size: 12px;
}

.maroma-textInput-input--valid::placeholder {
  color: #232527;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
