.modalbold-group {
  font-family: "Noto Sans CJK KR", "Nunito Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.modalbold-content {
  width: 480px;
  height: auto;
  padding: 24px 32px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.modalbold-header {
  font-size: 18px;
  font-weight: normal;
  color: #4c5154;
  margin-bottom: 12px;
}

.modalbold-body {
  font-size: 28px;
  font-weight: bold;
}

.modalbold-button-primary {
  font-size: 14px;
  color: #232527;
  width: 106px;
  height: 40px;
  background-color: #ffc847;
  border-radius: 8px;
  margin-top: 18px;
  margin-left: 374px;
  border: none;
  outline: none;
  cursor: pointer;
}
